/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.laminas-ci.json export-ignore
/benchmarks/ export-ignore
/docs/ export-ignore
/mkdocs.yml export-ignore
/phpbench.json export-ignore
/phpcs.xml export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml.dist export-ignore
/psalm-baseline.xml export-ignore
/renovate.json export-ignore
/test/ export-ignore
/tools/ export-ignore
Dockerfile export-ignore
Makefile export-ignore
composer.lock export-ignore
.infection.json5.dist export-ignore
