<?xml version="1.0"?>
<psalm
    errorLevel="1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm-baseline.xml"
    findUnusedPsalmSuppress="true"
    findUnusedCode="false"
    findUnusedBaselineEntry="true"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
            <directory name="test/TestAsset"/>
            <directory name="test/**/TestAsset"/>
        </ignoreFiles>
    </projectFiles>
    
    <issueHandlers>
        <InvalidCatch>
            <errorLevel type="suppress">
                <!-- PSR does not implement Throwable in 1.x version -->
                <referencedClass name="Psr\Container\ContainerExceptionInterface"/>
                <referencedClass name="Psr\Container\NotFoundExceptionInterface"/>
            </errorLevel>
        </InvalidCatch>
        <InvalidThrow>
            <errorLevel type="suppress">
                <!-- PSR does not implement Throwable in 1.x version -->
                <referencedClass name="Psr\Container\ContainerExceptionInterface"/>
            </errorLevel>
        </InvalidThrow>
        <DeprecatedProperty>
            <errorLevel type="suppress">
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$initializers"/>
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$delegators"/>
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$shared"/>
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$lazyServices"/>
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$services"/>
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$aliases"/>
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$abstractFactories"/>
                <referencedProperty name="Laminas\ServiceManager\AbstractPluginManager::$factories"/>
            </errorLevel>
        </DeprecatedProperty>
    </issueHandlers>

    <issueHandlers>
        <DeprecatedClass>
            <errorLevel type="suppress">
                <referencedClass name="Laminas\ServiceManager\DelegatorFactoryInterface"/>
                <referencedClass name="Laminas\ServiceManager\InitializerInterface"/>
                <referencedClass name="Laminas\ServiceManager\FactoryInterface"/>
            </errorLevel>
        </DeprecatedClass>
        <InvalidThrow>
            <errorLevel type="suppress">
                <referencedClass name="Interop\Container\Exception\ContainerException"/>
            </errorLevel>
        </InvalidThrow>
        <DeprecatedMethod>
            <errorLevel type="info">
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::addAbstractFactory"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::setService"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::setInvokableClass"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::setAlias"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::setShared"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::addInitializer"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::addDelegator"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::setFactory"/>
                <referencedMethod name="Laminas\ServiceManager\AbstractPluginManager::mapLazyService"/>
            </errorLevel>
        </DeprecatedMethod>
        <InternalClass>
            <errorLevel type="suppress">
                <!-- Tests are allowed to work with internal classes -->
                <directory name="test"/>
            </errorLevel>
        </InternalClass>
        <InternalMethod>
            <errorLevel type="suppress">
                <!-- Tests are allowed to work with internal classes -->
                <directory name="test"/>
            </errorLevel>
        </InternalMethod>
    </issueHandlers>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
        <pluginClass class="Boesing\PsalmPluginStringf\Plugin"/>
        <pluginClass class="Lctrs\PsalmPsrContainerPlugin\Plugin"/>
    </plugins>
</psalm>
